<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.inventory.mapper.ProcessedOrderMapper">

	<resultMap id="processedOrderResultMap"
		type="com.example.inventory.model.ProcessedOrder">
		<id property="orderId" column="order_id" />
	</resultMap>

	<select id="findById" resultMap="processedOrderResultMap">
		SELECT order_id
		FROM inventory_db.processed_orders
		WHERE order_id = #{orderId}
	</select>
	<insert id="insert">
		INSERT INTO inventory_db.processed_orders(order_id)
		VALUES (#{orderId})
	</insert>
</mapper>