<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.inventory.mapper.ProcessedOrderMapper">
	<insert id="insertIfAbsent">
		INSERT INTO inventory_db.processed_orders(order_id)
		VALUES (#{orderId})
		ON CONFLICT (order_id) DO NOTHING
	</insert>
</mapper>
