<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.payment.mapper.PaymentMapper">
	<insert id="insertIfAbsent">
		INSERT INTO payment_db.payments(order_id, amount,
		status)
		VALUES (#{orderId}, #{amount}, #{status})
		ON CONFLICT (order_id)
		DO NOTHING
	</insert>

	<update id="completePayment">
		UPDATE payment_db.payments
		SET status = 'COMPLETED'
		WHERE order_id = #{orderId}
		AND status = 'PENDING'
	</update>

	<update id="failPayment">
		UPDATE payment_db.payments
		SET status = 'FAILED'
		WHERE order_id = #{orderId}
		AND status = 'PENDING'
	</update>

	<update id="refund">
		UPDATE payment_db.payments
		SET status = 'REFUNDED'
		WHERE order_id = #{orderId}
		AND status = 'FAILED'
	</update>
</mapper>
